body {
	background-color: darkred;
}

img {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	border-radius: 50px;
}

#descrizione {
	text-align: center;
	color: red;
	border: 10px solid;
	border-radius: 10px;
	font-size: 25px
}

#testo {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Zen Dots', cursive;
}

a {
	text-decoration: none;
	color: white;
}
